@model RemoteDirectoryList.Models.DirectoryViewModel
@{
    var requestPath = Context.Request.Query["path"].ToString().TrimStart('\\');
    if (requestPath == "")
    {
        requestPath = "/";
    }

    RemoteDirectoryList.Models.RootDirectoryTabModel[] tabs = (RemoteDirectoryList.Models.RootDirectoryTabModel[])ViewData["tabs"];

    ViewData["Title"] = "Files - " + requestPath;
}

<h1>Files</h1>

<div class="clearfix mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @{
                var breadcrumbTree = requestPath.Split('/').Where(p => !string.IsNullOrWhiteSpace(p)).ToList();
                if (breadcrumbTree.Count == 0)
                {
                    breadcrumbTree.Add("/");
                }
                else
                {
                    breadcrumbTree[0] = breadcrumbTree[0].Insert(0, "/ ");
                }
            }
            <li class="font-weight-bold">@tabs.First(t => t.Id == Model.TabId).DisplayName > &nbsp;</li>
            @foreach (var pathName in breadcrumbTree)
            {
                <li class="breadcrumb-item active" aria-current="page">@pathName</li>
            }
        </ol>
    </nav>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Last Modify Time (Utc)</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.IsRootDirectory)
        {
            <tr>
                <td colspan="4"><a asp-action="Directory" asp-route-path="@Model.ParentDirectoryPath" asp-route-tabId="@Model.TabId">Parent Directory</a></td>
            </tr>
        }
        @foreach (var file in Model.Files)
        {
            @if (file.IsDirectory)
            {
                <tr>
                    <td>
                        <a asp-action="Directory" asp-route-path="@requestPath/@file.Name" asp-route-tabId="@Model.TabId">@file.Name</a>
                    </td>
                    <td></td>
                    <td>@file.LastModifyTime.ToString("G")</td>
                    <td></td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@file.Name</td>
                    <td>
                        <partial name="_FileSizePartial" model="file.Size" />
                    </td>
                    <td>@file.LastModifyTime.ToString("G")</td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" asp-action="Download" asp-route-path="@requestPath/@file.Name" asp-route-tabId="@Model.TabId" target="_blank">Download</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
